body {
  background-color: red;
}

div#left {
  background-color: antiquewhite;
  height: 90px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-image: url("/images/avatar.jpg");
  background-size: cover;
}
div#right {
  background-color: blue;
}
main {
  width: 250vw;
  margin: 250px auto 0 auto;
  display: grid;
  grid-template-columns: 90px 600px;
  gap: 1rem;
}
