body {
  background-color: rgb(6, 170, 6);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body:hover {
  background-color: rgb(31, 4, 129);
  transition: all 3s;
}

main {
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 4rem;
  width: 60vw;
  gap: 4rem;
  margin: 100px auto 0 auto;
  padding: 50px;
  border-radius: 20px;
}
h1 {
  color: rgb(180, 7, 16);
}

p {
  color: rgb(184, 14, 14);
}

a#avatar {
  border-radius: 100%;
  aspect-ratio: 1;
  background-size: cover;
  border: 2px solid black;
  height: 90px;
}

div#bio {
  width: 100%;
  font-size: x-large;
}

div#bio ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  list-style: none;
}

div#ul .li svg {
  display: flex;
  list-style: none;
}

div#bio ol li a img:hover {
  opacity: 0.5;
  filter: saturation 0;
  transition: opacity 0.1s ease-out;
}

img {
  border-radius: 15%;
  width: 200px;
}

img:hover {
  zoom: 105%;
  opacity: 60%;
  color: black;
}

img {
  opacity: 70%;
}

div#bio ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0 0 2rem 0;
  padding: 0;
}
